New posts
<p>
<!-- 	HTML -->
<!-- <form method='post' action='/my_form'>
  	<input type='text' name='Post Title'>
  	<input type='submit'>
	</form> -->

<!-- FORM HELPERS
<%= form_tag '/my_form' do %>
	<%= text_field_tag 'Post Title' %>
	<%= submit_tag 'Post' %>
<% end %> -->

<%= form_for(@post) do |f| %>

<% end %>
</p>