<h2>Fat Cats Online</h2>

<ul>
	<% @posts.each do |post| %>
		<li>
		<%= link_to post.title, post.url %> </br>
		(<%= link_to pluralize(post.comments.count, "comment" ), post_path(post) %>)
		</li>
	<% end %>

</br>

<h4><%= link_to "Submit a link", new_post_path %></h4>

</ul>