<h2>Post Comments</h2>

<p>
<%= link_to @post.title, @post.url %>
</P>

<p> <%= pluralize(@post.comments.count, "comment") %> </p>

<ul>
<% @post.comments.each do |comment| %>
	<li>
	<%= comment.content %>
	</li>
<% end %>
</ul>